:root {
  /* colores generales */
  --bg-dark: #0a1020;
  --accent: #F9B538;
  --text-main: #ffffff;
  --text-encabezados: #2f3a45;
  --text-descripcion: #6f7e88;
  --text-muted: #ffffffbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* fuente */
  color: var(--text-main);
  font-family: "Roboto Condensed", sans-serif;
}

a, li {
  text-decoration: none;
}

a {
  color: white;
  cursor: pointer
}

ul {
  list-style: none;
}

button {
  outline: none;
}

/* clase especial para destacar palabras clave */
.highlight {
  color: var(--accent);
}

.logo {
  width: 180px;
}
