:root {
  /* colores generales */
  --black: #0a1020;
  --orange: #F9B538;
  --white: #ffffff;
  --text-encabezados: #2f3a45;
  --text-descripcion: #6f7e88;
  --bg-snow: #f7f8f9;
  --radius-sm: 3px;
  /* tamaños de fuente */
  --font-size-display: 120px;
  --font-size-hero: 80px;
  --font-size-title-xl: 36px;
  --font-size-title-lg: 32px;
  --font-size-title-md: 28px;
  --font-size-lead: 22px;
  --font-size-heading: 20px;
  --font-size-subheading: 18px;
  --font-size-body: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* fuente */
  color: var(--white);
  font-family: "Roboto Condensed", sans-serif;
}

a, li {
  text-decoration: none;
}

a {
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  outline: none;
}

strong {
  font-weight: 800;
}

/* clase especial para destacar palabras clave */
.highlight {
  color: var(--orange);
}

.logo {
  width: 180px;
}

.icon {
  color: var(--white);
}

.squares {
  margin-bottom: 10px;
  display: flex;

  .square {
    font-size: 10px;
    color: #F9B538;
  }
}

@media (768px <= width <= 1200px) {
  :root {
    --font-size-display: 92px;
    --font-size-hero: 58px;
    --font-size-title-xl: 32px;
    --font-size-title-lg: 30px;
    --font-size-title-md: 26px;
    --font-size-lead: 21px;
    --font-size-heading: 20px;
    --font-size-subheading: 18px;
    --font-size-body: 16px;
  }

  .logo {
    width: 130px;
  }
}

@media (width <= 767px) {
  :root {
    --font-size-display: 66px;
    --font-size-hero: 42px;
    --font-size-title-xl: 26px;
    --font-size-title-lg: 24px;
    --font-size-title-md: 22px;
    --font-size-lead: 18px;
    --font-size-heading: 18px;
    --font-size-subheading: 17px;
    --font-size-body: 15px;
  }

  .logo {
    width: 130px;
  }
}
