:root {
  /* colores generales */
  --black: #0a1020;
  --orange: #F9B538;
  --white: #ffffff;
  --text-encabezados: #2f3a45;
  --text-descripcion: #6f7e88;
  --bg-snow: #f7f8f9;
  /* tamaños de fuente */
  --font-size-display: 120px;
  --font-size-hero: 80px;
  --font-size-title-xl: 36px;
  --font-size-title-lg: 32px;
  --font-size-title-md: 28px;
  --font-size-lead: 22px;
  --font-size-heading: 20px;
  --font-size-subheading: 18px;
  --font-size-body: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* fuente */
  color: var(--white);
  font-family: "Roboto Condensed", sans-serif;
}

a, li {
  text-decoration: none;
}

a {
  color: white;
  cursor: pointer
}

ul {
  list-style: none;
}

button {
  outline: none;
}

/* clase especial para destacar palabras clave */
.highlight {
  color: var(--orange);
}

.logo {
  width: 180px;
}

.icon {
  color: var(--white)
}
