.btn-ghost {
  color: var(--white);
  min-width: 150px;
  border: solid 1px var(--white);
  background-color: rgba(255, 255, 255, 0.185);
  text-align: center;
  padding: 15px 25px;
  border-radius: var(--radius-sm);
}

.btn-primary {
  color: var(--white);
  min-width: 150px;
  background-color: var(--orange);
  text-align: center;
  padding: 15px 25px;
  border-radius: var(--radius-sm);
}

.btn-secondary {
  color: var(--black);
  min-width: 150px;
  background-color: var(--white);
  text-align: center;
  padding: 15px 25px;
  border-radius: var(--radius-sm);
}

.btn-hollow {
  border: 1px solid var(--orange);
  min-width: 150px;
  height: 40px;
  text-align: center;
  padding: 8px 18px;
  border-radius: var(--radius-sm);
  text-decoration: none;
  font-size: var(--font-size-body);
  color: var(--orange);
}

@media (768px <= width <= 1200px) {
  .btn-ghost,
  .btn-primary,
  .btn-secondary,
  .btn-hollow {
    min-width: 150px;
    height: 40px;
    padding: 8px 18px;
    font-size: var(--font-size-body);
  }
}

@media (width <= 767px) {
  .btn-ghost,
  .btn-primary,
  .btn-secondary,
  .btn-hollow {
    min-width: 150px;
    height: 40px;
    padding: 8px 18px;
    font-size: var(--font-size-body);
  }
}
