.btn-ghost {
  color: var(--text-main);
  width: 150px;
  border: solid 1px var(--text-main);
  background-color: rgba(255, 255, 255, 0.185);
  text-align: center;
  padding: 10px 20px;
  border-radius: 3px;
}
