.btn-ghost {
  color: var(--text-main);
  min-width: 150px;
  border: solid 1px var(--text-main);
  background-color: rgba(255, 255, 255, 0.185);
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
}

.btn-primary {
  color: var(--text-main);
  min-width: 150px;
  background-color: var(--accent);
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
}

.btn-secondary {
  color: var(--bg-dark);
  min-width: 150px;
  background-color: var(--text-main);
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
}
