.btn-ghost {
  color: var(--white);
  min-width: 150px;
  border: solid 1px var(--white);
  background-color: rgba(255, 255, 255, 0.185);
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
}

.btn-primary {
  color: var(--white);
  min-width: 150px;
  background-color: var(--orange);
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
}

.btn-secondary {
  color: var(--black);
  min-width: 150px;
  background-color: var(--white);
  text-align: center;
  padding: 15px 25px;
  border-radius: 3px;
}
