.footer {
  background: var(--bg-snow);
  padding-top: 200px;
  padding-bottom: 20px;
  color: var(--text-descripcion);
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.brand {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 15px;
}

.brand p {
  font-size: var(--font-size-body);
}

.socials {
  display: flex;
  gap: 12px;
}

.social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f5a623;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-blocks {
  display: flex;
  gap: 100px;
}

.nav-blocks ul li {
  margin-bottom: 15px;
}

.nav-blocks .title {
  font-weight: 500;
  font-size: var(--font-size-body);
  color: #2f3a45;
  margin-bottom: 30px;
}

.nav-blocks a {
  color: #7b8a96;
}

.office a {
  color: #f5a623;
  text-decoration: none;
}

.footer-bottom hr {
  border: none;
  border-top: 1px solid #dfe6ec;
  margin: 25px 0;
}

.bottom-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-size-body);
}

.links {
  display: flex;
  gap: 15px;
}

.links a {
  color: #7b8a96;
}
