.header-topbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-topbar ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-mainbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.header-mainbar nav ul {
  display: flex;
  gap: 40px;
}

.header-mainbar div {
  display: flex;
  gap: 20px;
}
