.header-topbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-topbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 2px solid rgba(95, 95, 95, 0.548);
  padding: 15px;
}

.header-mainbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  border: 1.5px solid rgba(95, 95, 95, 0.548);
}

.header-mainbar nav ul {
  display: flex;
  gap: 40px;
}

.header-mainbar div {
  display: flex;
  gap: 20px;
}
