body {
  position: relative;
}

header {
  position: absolute; /* posición absoluta para evitar ocupar espacio encima de la página */
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  top: 0;
  width: 100%;
  z-index: 1;

  @media (768px <= width <= 1200px) {
    position: absolute;
    padding: 10px 12px 0;
    background: transparent;
  }

  @media (width <= 767px) {
    position: absolute;
    padding: 10px 12px 0;
    background: transparent;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
