@import url(./sections/hero.css);
@import url(./sections/about.css);
@import url(./sections/services.css);
@import url(./sections/quality.css);
@import url(./sections/stats.css);
@import url(./sections/cta.css);
@import url(./sections/reviews.css);
@import url(./sections/faq.css);
@import url(./sections/projects.css);
@import url(./sections/partners.css);
@import url(./sections/subscribe.css);
