main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 800px;
  margin-top: 150px;
}

#hero-section h1 {
  font-size: 80px;
  text-align: center;
  font-weight: 500;
}

.discover {
  position: relative;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 40px;
  display: inline-block;
}

.discover::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 1px;
  height: 50px;
  background-color: var(--accent);
  opacity: 0.8;
}

