/* About Section */
#about-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 20px;
  background: var(--white);
  gap: 50px;
}

.about-text {
  max-width: 450px;
}

.about-text h2 {
  font-size: var(--font-size-title-xl);
  margin-bottom: 10px;
  color: var(--text-encabezados);
}

.about-text p {
  font-size: var(--font-size-body);
  color: var(--text-descripcion);
  margin-bottom: 30px;
}

.about-video img {
  width: 450px;
  border-radius: var(--radius-sm);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) and (max-width: 1000px) {
  #about-block {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .about-text {
    max-width: 600px;
  }

  .about-text .squares {
    justify-content: center;
  }

  .about-video img {
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 767px) {
  #about-block {
    flex-direction: column;
    text-align: center;
    padding: 60px 16px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 520px;
  }

  .about-text a {
    align-self: center;
  }

  .about-text .squares {
    justify-content: center;
  }

  .about-video img {
    width: 100%;
    max-width: 420px;
  }
}
