/* CTA Section */
#cta {
  width: 60%;
  max-width: 900px;
  margin: -180px auto 60px;
  padding: 70px 30px;
  background: var(--orange);
  text-align: center;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#cta h2 {
  font-size: var(--font-size-title-xl);
  color: var(--white);
  font-weight: 300;
  width: 60%;
}

.cta-btn {
  display: inline-block;
  background: var(--white);
  color: var(--text-encabezados);
  padding: 10px 22px;
  border-radius: var(--radius-sm);
  text-decoration: none;
  font-size: var(--font-size-body);
  font-weight: 500;
}

@media (768px <= width <= 1000px) {
  #cta {
    width: 80%;
    margin: -140px auto 50px;
    padding: 50px 20px;
  }

  #cta h2 {
    width: 100%;
  }
}

@media (width <= 767px) {
  #cta {
    width: 92%;
    margin: -100px auto 40px;
    padding: 40px 16px;
  }

  #cta h2 {
    width: 100%;
  }
}
