/* Projects Section */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  background: var(--white);
  overflow: hidden;
  padding-bottom: 60px;
}

#projects .projects-header {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 50px;
  position: relative;
  align-items: flex-end;
}

#projects .projects-header h2 {
  width: 60%;
  font-size: var(--font-size-title-md);
  color: var(--text-encabezados);
  margin-bottom: 10px;
}

.project-cards {
  display: flex;
  gap: 30px;
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.projects-cards-wrapper {
  width: 100%;
  overflow: hidden;
}

.project-card {
  position: relative;
  width: 420px;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0 18px 40px rgba(10, 16, 32, 0.12);
}

.project-image {
  position: relative;
  width: 100%;
  height: 320px;
}

.project-image img {
  border-radius: var(--radius-sm);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-label {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 22px;
  background: var(--white);
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
}

/* estilos para una tarjeta activa */
.project-card.active .project-label {
  bottom: 30px;
  color: var(--orange);
}

.project-card.active .project-title,
.project-card.active .project-link {
  color: var(--orange);
}

.project-title {
  font-size: var(--font-size-subheading);
  font-weight: 500;
  color: var(--text-descripcion);
}

.project-link {
  color: var(--text-descripcion);
  font-size: var(--font-size-heading);
}
