/* Stats Section */
#stats {
  width: 100%;
  background: url(../../img/backgrounds/section-bg.png) bottom no-repeat;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;
  padding-top: 80px;
  padding-bottom: 250px;
}

#stats h2 {
  display: none;
}

.stat {
  max-width: 300px;
}

.stat-head {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}

.stat-icon {
  width: 50px;
  height: 50px
}

.stat-number {
  font-size: var(--font-size-title-xl);
  font-weight: 600;
  color: var(--white);
}

.stat-title {
  font-size: var(--font-size-subheading);
  color: var(--white);
  font-weight: 500;
}

.stat-text {
  font-size: var(--font-size-body);
  color: var(--white);
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1000px) {
  #stats {
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 200px;
  }

  .stat {
    max-width: 240px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  #stats {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 160px;
  }

  .stat {
    max-width: 320px;
    text-align: center;
  }
}
